header {
      text-align: center;
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/aa/Lancaster_Gate_tube.jpg');
      background-size: cover;
      }
#LogoNav
{
  background-color: rgba(58,36,65,0.3);
  object-fit: cover;
    }
	
    li {
      display: inline;
      padding: 0px 20px 0px 20px;
      text-transform: uppercase;
      
    }
#episodesnav{
	position:relative;
}
#episodesnav > a {
cursor:pointer;
}
#subnav {
	position:absolute;
	top: 100%;
	left: 0;
    height: 20px;
    width: 100px;
    background-color: white;
    z-index: 20;
 }
 #episodesnav:hover #subnav {
    display:block;
 }
	

	
 .active {
      color: rgba(255,89,0,1);
    }
 a {
      color: rgba(255,182,56,1);
      font-family: "RailwayRegular";
      font-size:30px;
    }
    img {
      margin: 20px 20px 20px 20px;
      max-width: 400px;
    }
	
	
    ul {
      padding: 20px;
      background: rgba(0,0,0,.5);
    }
	



    body{
      background: rgba(0,0,0,0.5);
      font-family: "Roboto";
      }
    p {
      font-size: 20px;
    }


